asgiref==3.7.2
crispy-bootstrap4==2022.1
Django==4.2.1
django-crispy-forms==2.0
django-filter==23.3
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
mpmath==1.3.0
packaging==23.2
Pillow==9.5.0
pytz==2023.3.post1
PyYAML==6.0.1
sqlparse==0.4.4
sympy==1.12
typing_extensions==4.6.2
tzdata==2023.3
uritemplate==4.1.1
